<div class="center_content">

    <div class="register_title">
        Cadastre o Paciente
    </div>
    <div class="sub_title">
        Faça aqui a inserção de informações dos pacientes
    </div>

    <div class="register_add">
        <div class="register_anamnese" (click)="goToAnamnese()">
            <button>
                <i class="fa fa-plus" aria-hidden="true" style="margin-right: 0.5em;"></i>
                Anamnese
            </button>
        </div>
        
        <div class="register_profile" (click)="goToProfile()">
            <button>
                <i class="fa fa-plus" aria-hidden="true" style="margin-right: 0.5em;"></i>
                Ficha inicial
            </button>
        </div>
    </div>
</div>