<div class="back_tree">
   <span class="go_back" (click)="goBack()" style="margin-right: 2em;">
      <i class="fa fa-home" aria-hidden="true"></i>
      voltar
   </span>

   <span class="go_back" (click)="edit()">
      <i class="fa fa-pen" aria-hidden="true"></i>
      editar
   </span>

   <span class="files_title">
      ficha do aluno
   </span>

</div>

<div class="register_container">

   <div class="inputs_container">
      <div class="first_lign">

         <div class="input_name">
            <div class="input-title">
               Nome
            </div>
            <input class="input_style" type="text" placeholder="nome">
         </div>

         <div class="input_birth">
            <div class="input-title">
               Data de Nascimento
            </div>
            <input class="input_style" type="text" placeholder="data de nascimento">
         </div>
      </div>

      <div class="first_lign">
         <div class="input_name">
            <div class="input-title">
               Endereço
            </div>
            <input class="input_style" type="text" placeholder="endereço">
         </div>

         <div class="input_birth">
            <div class="input-title">
               Sexo
            </div>
            <input class="input_style" type="text" placeholder="sexo">
         </div>
      </div>

      <div class="first_lign">
         <div class="input_name">
            <div class="input-title">
               Bairro
            </div>
            <input class="input_style" type="text" placeholder="bairro">
         </div>

         <div class="input_birth">
            <div class="input-title">
               Data de entrada
            </div>
            <input class="input_style" type="text" placeholder="data de entrada">
         </div>
      </div>

      <div class="first_lign">
         <div class="input_name">
            <div class="input-title">
               CEP
            </div>
            <input class="input_style" type="text" placeholder="CEP">
         </div>

         <div class="input_birth">
            <div class="input-title">
               Acompanhamento de especialista
            </div>
            <input class="input_style" style="width: 135%;" type="text" placeholder="acompanhamento de especialista">
         </div>
      </div>

      <div class="first_lign">
         <div class="input_name">
            <div class="input-title">
               UF
            </div>
            <input class="input_style" type="text" placeholder="UF">
         </div>

         <div class="input_birth">
            <div class="input-title">
               Professora titular
            </div>
            <input class="input_style" type="text" placeholder="professora titular">
         </div>
      </div>

      <div class="first_lign">
         <div class="input_name">
            <div class="input-title">
               Cidade
            </div>
            <input class="input_style" type="text" placeholder="cidade">
         </div>

         <div class="input_birth">
            <div class="input-title">
               Professora titular
            </div>
            <input class="input_style" type="text" placeholder="professora titular">
         </div>
      </div>
   </div>
   
   <div class="lign_obs">
      <div class="text-title">
         Observação
      </div>
      <textarea class="text_area"></textarea>
      <div class="prox_button">
         <button>
            proximo
         </button>
      </div>
   </div>
</div>