input:focus, textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 


.back_tree {
    margin-left: 2em;
    margin-top: 1%;
    margin-bottom: 2em;
}

.go_back {
    text-decoration: underline;
    cursor: pointer;

}

.files_title {
    font-family: "B612 Mono", monospace;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: .05rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}


.register_container {
    /* background-color: #c8eeef; */
    /* position: flex; */
    margin-top: 4%;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    width: 90%;
}

.inputs_container {
    /* margin-right: 11%; */
    width: 150%;
}

.first_lign {
    margin-top: 1em;
    width: 100%;
    display: inline-flex;
}

.input_style, .text_area {
    border-style: none;
    border-radius: 5px;
    background-color: #ececec;
    font-size: 16px;
}

.input_style {
    width: 150%;
    padding: 5px 0 5px 8px;
}


.input_name {
    margin-right: 24%;
}

.lign_obs {
    width: 100%;
    text-align: center;
    background-image: url("src/assets/profile/profile-icon.svg");
    background-position-x: 10px;
    background-position-y: -5px;
    background-repeat: no-repeat;
    background-size: 5em;
}

.lign_obs textarea {
    width: 80%;
    height: 280px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    font-size: 16px;
    resize: none;
}


.input-title, .text-title {
    font-family: "Cabin", sans-serif;    
    font-size: 15px;
    color: #6D6D6D;
}

.text-title {
    margin-bottom: 2%;
}

.prox_button {
    margin-top: 6%;
}

.prox_button button{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background-color: #000;
    padding: .8em 2em;
    border-color: none;
    border-radius: 2em;
}
