<div class="home-header">
    <div class="logo">
        <span>
            <img class="logo-image" src="assets\icons\brain-icon.svg">

            <h1 id="logo-title">Luz do Organizar</h1>
        </span>
    </div>

    <button class="btn btn-enter" (click)="click()">Entrar</button>
</div>

<div class="home-body">
    <div class="home-text">
        <div class="presentation-box">
            <h3 class="home-presentation">Organize suas fichas, testes e consultas em um só lugar</h3>
        </div>
        <div class="app-exp">
            <p>Aplicativo desenvolvido para facilitar a organização de profissionais da psicopedagogia.</p>
        </div>
    </div>

    <div class="home-art">
        <img class="home-image" src="assets/icons/home/home-art.svg">
    </div>
</div>