<div class="back_tree">
    <span class="go_back" (click)="goBack()" style="margin-right: 2em;">
       <i class="fa fa-home" aria-hidden="true"></i>
       voltar
    </span>
 
    <span class="go_back" (click)="edit()">
       <i class="fa fa-pen" aria-hidden="true"></i>
       editar
    </span> 
 </div> 

 <div class="register_container">

    <div class="sec_one">
        <div class="initial_information">

            <div class="input_lines">
                <input>
                <input>
            </div>

            <div class="input_lines">
                <input>
                <input>
            </div>

            <div class="input_lines">
                <input>
                <input>
            </div>

            <div class="input_lines">
                <input>
                <input>
            </div>

            <div class="input_lines">
                <input>
                <input>
            </div>

            <div class="input_lines">
                <input>
                <input>
            </div>

            <div class="input_lines">
                <input>
            </div>
        </div>

        <div class="anamnese_icon">
            <img src="assets\anamnese\anamnese_icon.svg">
        </div>
    </div>
 
    <div class="sec_two">

        <div>
            <span class="title_const">
                Queixa Familiar
            </span>
            <textarea name="" id=""></textarea>
        </div>

        <div>
            <span class="title_const">
                Gravidez:
            </span>
            <span>
                Como aconteceu?
            </span>
            <textarea name="" id=""></textarea>
        </div>

        <div>
            <span class="title_const">
                Acompanhamento Pré-Natal
            </span>
            <div>
                Observar se teve ou não acompanhamento, quais exames realizados, se teve complicações, se necessitou de repouso, se precisou fazer uso de medicações, se sofreu algum acidente ou trauma na gravidez.
            </div>
            <textarea name="" id=""></textarea>
        </div>
        <div class="dropdown_childbirth">
            <span class="title_const">
                Parto
            </span>

        </div>
        <div class="dropdown_childbirth">
            <span class="title_const">
                CONDIÇÔES DO RECÉM-NASCIDO
            </span>
        </div>
        <div class="dropdown_childbirth">
            <span class="title_const">
                LACTÂNCIA
            </span>
        </div>
        <div class="dropdown_childbirth">
            <span class="title_const">
                ALIMENTAÇÃO
            </span>
        </div>
        <div class="dropdown_childbirth">
            <span class="title_const">
                SONO
            </span>
        </div>
        <div class="dropdown_childbirth">
            <span class="title_const">
                LINGUAGEM
            </span>
        </div>
        <div class="dropdown_childbirth">
            <span class="title_const">
                MOTRICIDADE
            </span>
        </div>
        <div class="dropdown_childbirth">
            <span class="title_const">
                CONTROLE ESFINCTERIANO
            </span>
        </div>
        <div class="dropdown_childbirth">
            <span class="title_const">
                BIOGRAFIA LÚDICA
            </span>
        </div>
        <div class="dropdown_childbirth">
            <span class="title_const">
                CARACTERÍSTICAS PESSOAIS
            </span>
        </div>

        <div>
            <span class="title_const">
                EXPECTATIVAS EM RELAÇÃO AO ATENDIMENTO DA EDUCAÇÃO INFANTIL
            </span>
            <textarea name="" id=""></textarea>
        </div>

        <div>
            <span class="title_const">
                OUTRAS OBSERVAÇÕES
            </span>
            <textarea name="" id=""></textarea>
        </div>
    </div>
 </div>