<div id="login-container">
    <div id="login">
        <h1 class="login-title">Bem vindo</h1>
        <img class="login-image" src="assets\icons\brain-icon.svg">
        <form [formGroup]="formLogin" novalidate>
            <div class="user-input">
                <input formControlName="user" class="input-style" type="text" id="fname" name="fname" placeholder="usuário"><br>
            </div>

            <div class="user-password">
                <input formControlName="password" class="input-style" type="password" id="fpassword" name="password" placeholder="senha"><br>
            </div>

            <div id="user-authenticate">
                <button (click)="logar()" class="enter-button">
                    Entrar
                </button>
            </div>
        </form>
    </div>
</div>