<div class="center_content">

    <div class="search_title">
        Digite o nome do aluno
    </div>

    <div class="search_input">
        <input
        class="input_style"
        type="text"
        [formControl]="queryField"
        >
    
        <button class="search_icon" (click)="onSearch()">
            <i style="transform: scaleX(-1);" class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>

    <div class="search_img">
        <img style="height: 20em;" src="assets\files-page\search_img.svg">
    </div>
</div>