.centralize_page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.content_block {
    width: 50em;
    height: 25em;
    cursor: pointer;
}

.your_image {
    float: left;
    margin-top: 10%;
    margin-left: 11%;
    display: inline-block;
}

.your_image_config {
    height: 2.5em;
}

.time_image_config {
    height: 20em;
}

.time_image {
    margin-top: 2em;
    display: inline-block;
}

.workspace_image {

    display: inline-block;
}

@media (min-width: 1920px) {
    .centralize_page {
        margin-top: 10%;
    }
  }