.centralize_page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.your_image {
    margin-bottom: 11em;
}

.time_image {
    /* background-color:; */
}

@media (min-width: 1920px) {
    .centralize_page {
        margin-top: 10%;
    }
  }