<div class="centralize_page">
    
    <div (click)="redirectToFiles()" class="content_block">
        <div class="your_image">
            <img class="your_image_config" src="../../assets/workspace/seu.svg" alt="seu"/>
        </div>
        <div class="time_image">
            <img class="time_image_config" src="../../assets/workspace/global_design.svg" alt="trabalho"/>
        </div>
        <div class="workspace_image">
            <img style="height: 6em;" src="../../assets/workspace/workspace.svg" alt="workspace"/>
        </div>
    </div>
</div>
