body {
    background-color: #C8EEEF;
}

header {
    width: 100%;
    position: absolute;
    background-color: #fff;
}

.btn-enter {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 60px;
    padding: 10px 20px;
    background-color: #9D6FD1;
    color: #fff;
    border: none;
    border-radius: 5px;
}