<div [style]="defineHeaderColor()" class="app_menu">

        <div class="buttons_left">
            <div class="register_patient">
                <button (click)="redirectToRegister()" class="buttons_pattern">cadastro</button>
            </div>
    
            <div class="access_files">
                <button (click)="redirectToFiles()"  class="buttons_pattern">fichas</button>
            </div>
    
            <div class="access_calendar">
                <button (click)="redirectToCalendar()"  class="buttons_pattern">calendário</button>
            </div>
        </div>
    
        <div class="buttons_right">
            <button (click)="leftSite()"  class="buttons_pattern left_site">sair</button>
        </div>

</div>